
.PageList LI.selected A {
  font-weight: bold;
  text-decoration: none;
  color: #ff9898;
}

.widget-title, #sidebar .widget h2 {
   margin-top: -45px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 20px;
  text-align: center;
  clear: both;
}

div#sidebar h2 span {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fff;
}


.more-link::before {
  content: "\f178";
  font-family: FontAwesome;
  right: 40px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  font-size: 20px;
  height: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #353535;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  line-height: 100%;
  display: block;
}

.more-link.arrowIn:before {
  right: 20px;
  visibility: visible;
  opacity: 1;
}

.more-link.arrowOut:before {
  right: -20px;
  visibility: hidden;
  opacity: 0;
}

.more-link:hover {
  border-color: #101010;
  color: #101010;
  padding-right: 60px;
}

.pagination .older {
  float: right;
  position: relative;
  text-align: right;
}

.pagination .newer {
  float: left;
  position: relative;
  text-align: left;
}
 .post-nav-icon {
  position: absolute;
  top: 7px;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  background-color: #FD707A;
  border-radius: 32px;
  color: #fff;
  letter-spacing: 0;
}
.pagination a:hover .post-nav-icon{
  background-color: #474747;
}
.pagination a:hover .pager-title{
  color: #474747;
}

.older .post-nav-icon{
right:0;
}

.newer .post-nav-icon{
left:0;
}


.older .pager-heading {
  margin-bottom: 5px;
color:#aaa;
  margin-right: 42px;
}

.older .pager-title {
  font-size: 150%;
  display: block;
  line-height: 1.3;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
color:#FD707A;
  margin-right: 42px;
}


.newer .pager-heading {
  margin-bottom: 5px;
color:#aaa;
  margin-left: 42px;
}

.newer .pager-title {
  font-size: 150%;
  display: block;
  line-height: 1.3;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
color:#FD707A;
  margin-left: 42px;
}

div#container1 {
  text-align: center;
}